@model IEnumerable<WebApplication1.Models.EventModel>
<!DOCTYPE html>
<style>
    footer {
        background: linear-gradient(hotpink,lightpink,pink);
    }

    .navbar {
        background: linear-gradient(hotpink,lightpink,pink);
    }

    .body {
        padding-bottom: 50px;
    }
</style>




<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />
    <title>Book Store Application</title>
</head>
<body class="body">
    @{await Html.RenderPartialAsync("_header", Model); }

    <main role="main">
        @RenderBody()
    </main>

    @{await Html.RenderPartialAsync("_footer", Model); }

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/jquery-validate/jquery.validate.js"></script>
        <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>

    <environment>
        <environment exclude="Development">
            <script src="~/lib/jquery/dist/jquery.min.js"></script>
            <script src="~/jquery-validate/jquery.validate.min.js"></script>
            <script src="~/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
        </environment>
    </environment>

</body>
</html>
