@using Microsoft.AspNetCore.Identity;
@inject Microsoft.AspNetCore.Identity.SignInManager<IdentityUser> _signInManager
@model IEnumerable<WebApplication1.Models.EventModel>
@if (_signInManager.IsSignedIn(User))
{
    <a class="btn" href="/Event/CreateEvent">Create Event</a>
    <a class="btn" href="/Event/MyEvents">My Events</a>
    <a class="btn" href="/Event/GetEvents">All Events</a>
    <a class="btn" href="/Event/Invitation">Events Invited To</a>
    <a class="nav-link text-dark" role="button">
        Hello @User.Identity.Name
    </a>
    <a class="btn" href="/Account/Logout">Logout</a>
}
else
{
    <li class="nav-item">
        <a class="btn btn-outline-primary" href="/Account/LogIn">Login</a>
        <a class="btn btn-outline-primary" href="/Account/Signup">SignUp</a>
    </li>
}

